@import "vendor/reset.css";
@import "vendor/vars.css";

@import "statements.css";

@import "components/header.css";

@import "home/start.css";

.body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: var(--black);
  background-color: var(--bg);
}

.container {
  padding: 0 15px;
  max-width: 1330px;
  margin: 0 auto;
}